<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog-style.css') }}">
    <title>投稿が完了しました</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>ブログ投稿</h1>
        </div>
            <h2>以下の内容で投稿が完了しました</h2>
            <h3>{{ title }}</h3>
            <h4>{{ contents }}</h4>
        <div id="button-container">
            <button type="button" id="back" onclick="location.href='{{ url_for('view.blog_detail' ,blog_id=blog_id) }}'">投稿をみる</button>
            <button type="button" id="back" onclick="location.href='{{ url_for('view.view') }}'">HOMEへ戻る</button>
        </div>
    </div>
</body>
</html>