<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog-style.css') }}">
    <title>投稿画面</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>ブログ投稿</h1>
        </div>
        <div id="button-container">
            <form action="{{ url_for('create.add') }}" method="post">
                <input type="text" name="title" placeholder="タイトル" value="" required><br/>
                <textarea name="contents" placeholder="投稿内容" required></textarea><br/>
                <button id="submit" type="submit">投稿</button>
            </form>
        </div>
    </div>
</body>
</html>