<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog-style.css') }}">
    <title>投稿画面</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>ブログを編集する</h1>
        </div>
        <div id="button-container">
            <form action="{{ url_for('edit.route', blog_id=blog.id) }}" method="POST">
                <input type="text" name="title" placeholder="タイトル" 
                value="{{ blog.title }}" 
                required><br/>
                <textarea name="contents" placeholder="投稿内容"
                required>{{ blog.contents}}</textarea><br/>
                <button id="submit" type="submit">編集</button>
            </form>
            <button id="deleteBtn" type="submit">削除</button>
        </div>
    </div>
</body>
<script>
    // 削除ボタン
    const deleteBtn = document.getElementById('deleteBtn');
    deleteBtn.addEventListener('click', () => {
        if (window.confirm('本当に削除しますか？')) {
            // DELETEリクエストを送信
            fetch('{{ url_for('edit.route', blog_id=blog.id) }}', {
                method: 'DELETE'
            }).then((res) => {
                if (res.ok) {
                    alert('削除しました');
                    window.location.href = '{{ url_for('view.view') }}';
                } else {
                    alert('削除に失敗しました');
                }
            });
        }
    });
</script>
</html>