<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿詳細</title>
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.contents }}</p>
    <p>いいね数: {{ blog.likes }}</p>
    <button id="like-button">いいね👍</button>
    <p>作成日時: {{ blog.created_at }}</p>

    <h2>コメント一覧</h2>
    {% if comments %}
        <p>
            {% for comment in comments %}
                {{comment.comment}}
            {% endfor %}
        <p>
    {% else %}
        <p>コメントはまだありません。</p>
    {% endif %}

</body>
</html>