<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表示画面</title>
</head>
<body>
    <h3>現在投稿されているブログ</h3>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ブログ一覧</th>
            </tr>
        </thead>
        <tbody>
            {% for blogs in items %}
            <tr>
                <td>{{ blogs.title }}</td>
                <td>{{ blogs.contents }}</td>
                <td>{{ blogs.likes }}</td>
                <td>{{ blogs.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='{{ url_for('create.route') }}'">新規投稿</button>

</body>
</html>